@color-raisin-black: #221d23;
@color-cafe-noir: #4f3824;
@color-bittersweet: #fb7b64;
@color-bittersweet-hover: #ff9a7d;
@color-bittersweet-pressed: #c86250;
@color-gold-metallic: #ddb967;
@color-yellow-green-crayola: #d0e37f;
@color-almost-white: #fefefe;
@color-inactive: #a8aab9;
@color-cherry: #ca1919;
@color-ocean: #63b9db;


/****************/