@import url('tailwind.css');
.neu-border-2 {
  @apply border-black border-2 border-solid;
}
.neu-border-3 {
  @apply border-black border-solid;
  border-width: 3px;
}
.neu-border-4 {
  @apply border-black border-4 border-solid;
}
.neu-shadow-lb-2 {
  box-shadow: -2px 2px 0px 0px black;
}
.neu-shadow-lb-3 {
  box-shadow: -3px 3px 0px 0px black;
}
.neu-shadow-lb-4 {
  box-shadow: -4px 4px 0px 0px black;
}
.neu-shadow-rt-2 {
  box-shadow: 2px -2px 0px 0px black;
}
.neu-shadow-rt-3 {
  box-shadow: 3px -3px 0px 0px black;
}
.neu-shadow-rt-4 {
  box-shadow: 4px -4px 0px 0px black;
}
html,
body {
  @apply text-raisin-black;
  font-family: 'Roboto', sans-serif !important;
}
.n-modal.n-dialog {
  @apply border-black border-4 border-solid;
  box-shadow: 4px -4px 0px 0px black;
}
.n-button {
  transition: all ease 0.2s;
  box-shadow: 2px -2px 0px 0px black;
}
.n-button:active,
.n-button:focus {
  box-shadow: none;
  transform: translate(2px, -2px);
}
.n-input {
  transition: all ease 0.3s;
}
.n-input--focus {
  transform: translate(-2px, 2px);
}
.n-input .n-input__border,
.n-input .n-input__state-border {
  transition: all ease 0.3s;
}
