@import url('./tailwind.css');

@import url('./neu_brutalism.less');

html,
body {
    @apply text-raisin-black;
    font-family: 'Roboto', sans-serif !important;
}

@color-raisin-black: #221d23;
@color-cafe-noir: #4f3824;
@color-bittersweet: #fb7b64;
@color-bittersweet-hover: #ff9a7d;
@color-bittersweet-pressed: #c86250;
@color-gold-metallic: #ddb967;
@color-yellow-green-crayola: #d0e37f;
@color-almost-white: #fefefe;
@color-inactive: #A8AAB9;


.n-modal.n-dialog {
    .neu-border-4;
    .neu-shadow-rt-4;
}

.n-button {
    transition: all ease .2s;

    .neu-shadow-rt-2;

    &:active,
    &:focus {
        box-shadow: none;
        transform: translate(2px, -2px);
    }
}